.text-stretch input { width: 47%; }
.text-stretch { padding: 2px 8px; }
* html .text-stretch { padding: 2px 10px; }
* html .text-stretch input { margin-right: -11px; }
::placeholder{ color: red;}
div{display:block;
}

p{ display: none;
   color:red;}
  
  
  
